#menu5 ul {
    list-style:none;
    font-family: Georgia, serif;
    font-size: 44px;
    letter-spacing: -3px;
    line-height: 1.2em;
    float:left;
    clear:both;
    margin:20px;
    border:4px double #ccc;
}
#menu5 ul li{
    float:left;
}
#menu5 ul li a{
    display:block;
    text-decoration:none;
    padding:10px 10px 5px 10px;
    color:#555;
    background-color:#fff;
    width:170px;
}
#menu5 ul li a span{
    display:block;
}
#menu5 ul li a span.title{
    border-top:1px solid #ddd;
     border-bottom:1px solid #ddd;
}
#menu5 ul li a:hover span.title{
    color:#ccc;
}
#menu5 ul li a span.text{
    padding:0px 5px;
    font-family: Georgia, serif;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.7em;
    color:#444;
    visibility:hidden;
}
#menu5 ul li a:hover span.text{
    visibility:visible;
}